body {
    background-image: url('img/page_bg.jpg');
    background-size: auto 100vh;
    background-position-x: center;
    max-height: 100vh;
    margin: 0;
}

.title{
    background-image: url("img/title_bundle.png");
    position: relative;
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 70vh;
    top: 3vh;
    height: calc(60vh * 432 / 1020);
}

.card_pos{
    margin: 0 auto 0;
    position: relative;
    left: 0;
    right: 0;
    top: 50%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card_container{
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 19px;
    box-shadow: 0 0 10px gray;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip_card{
    transform: rotateY(180deg);
}


.pointer{
    cursor: pointer;
}

.card_container DIV{
    /*color: white;*/
    /*border-style: solid;*/
}

.prompt_container{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 3vh;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*vertical-align: middle;*/
}

.prompt_input{
    font-size: 20pt;
    width: 29vh;
    height: 5vh;
    border: black solid;
    border-radius: 25px;
    padding: 0 25px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

.generate{
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 56px;
    background-color: white;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 10px gray;
}

.generating_icon{
    display: flex;
    width: 14vh;
    height: 14vh;
    border-radius: 7vh;
    background-color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.reset{
    color: red;
    cursor: pointer;
}

.card_container:hover,
.generate:hover,
.prompt_input:hover,
.reset:hover{
    box-shadow: 0 0 20px #6abcc4;
}

#card_title, #card_cost, #card_des{
    position: relative;
    left: 10%;
    max-width: 80%;
    height: 18px;
}

#card_title{
    top: 6%;
    display: flex;
    justify-content: space-between;
}

#card_cost{
    top: 53%;
}

#card_des{
    top: 55.5%;
    height: 26.5%;
    overflow-y: auto;
}

.icon{
    display: inline;
    height: 1.1em;
    vertical-align: bottom;
}