<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="titlecontainer">
        <div class="maintitle">
            <a href="/">
            <h2 id="pagetitle">MTG generator</h2>
            </a>
        </div>
    </div>
    {% block body %}{% endblock %}
    <p id="bottomlinks">
    <span id="privacylink"><a href="/privacypolicy">Privacy Policy</a></span>
    <span id="privacylink"> | </span>
    <span id="privacylink"><a href="https://github.com/hammer-hao/sc2dashboard">Github</a></span>
    </p>
</body>
</html>